body {
    min-height: 2000px;
}

.jumbotron {
    padding-top: 6rem;
    background-color:#ffd700;
}

.navbar {
    background-color:white;
}

#projects {
    background-color:#ffd700;
}

.footer {
    background-color: #ffd700;
}

section {
    padding-top: 5rem;
}